---
title: Brightcove Player-Dokumentation
parent: null
---

<article class="bcls-article">
  <h1>Brightcove Player-Dokumentation</h1>
  <p>
    Mit der Brightcove Player-Entwicklung können Sie Ihre Player anpassen, integrieren oder Funktionen hinzufügen. Entwicklungswerkzeuge sind die Player-API und die Standard-Webtechnologien HTML5, CSS und JavaScript.
  </p>
  <p>
    Schauen Sie sich die umfangreiche Liste von an <a href="/code-samples/index.html">Codebeispiele</a> für Anpassungsmöglichkeiten für Spieler.
  </p>
  <p>Brightcove Player-Version:</p>
  <p>
    Strom: <a href="/release-notes/brightcove-player-release-notes.html">v6.57.1</a> </p>
  <p>
    Vorabversion: <a href="/release-notes/brightcove-player-prerelease-notes.html">Keine</a> </p>
  <section class="card-wrapper">
    {% for section in site.data.navigation offset:1 %} <section class="bcls-card-small" onclick="window.location.href='{{ section.url }}'">
      <div class="card-content">
        <h2>{{ section.name }}</h2>
        <ul class="bcls-topic-list">
          {% for doc in section.docs limit:4 %} <li><a href="{{ doc.url }}">{{ doc.name }}</a></li> {% endfor %}
        </ul>
        <p style="font-size:small;"><a href="{{ section.url }}">Alle ansehen...</a></p>
      </div>
    </section>
    {% endfor %}
  </section>
</article>